services:
  app-dev:
    container_name: mu-digital-dev
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    network_mode: "host"

    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - WATCHPACK_POLLING=true
      - PORT=4000
      - HOSTNAME=0.0.0.0
      - ENABLE_IP_GUARD=${ENABLE_IP_GUARD}
    restart: always

  prisma-studio:
    container_name: mu-digital-studio-dev
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    
    network_mode: "host"
    
    command: npx prisma studio --hostname 0.0.0.0 --port 5555
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - DATABASE_URL=${DATABASE_URL}
    restart: always