services:
  app-prod:
    container_name: mu-digital-prod
    build:
      context: .
      dockerfile: Dockerfile
      target: runner
    restart: always
    ports:
      - "80:4000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - NODE_ENV=production